/* ============================================
   DIFERENÇAS - INFO CARDS GRID
   ============================================ */

.info-section {
  width: 100%;
  padding-top: 3rem;
  display: block; /* REMOVE flex */
}

.info-title{
  text-align: center;
  margin-top: 3rem;
}

.info-p{
  text-align: center;
  margin: 2rem 0 4rem 0;
}

.info-grid {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1.5rem;
  margin: 4rem 8rem;
  max-width: 1250px;
}

.info-card {
  background: var(--bg-white);
  padding: 2.5rem;
  border-radius: 8px;
  border: 1px solid var(--border);
  transition: all 0.3s;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

/* Garante que a lista dentro do card não tenha recuo extra */
.info-card ul.lista-check {
  padding-left: 1.2rem; /* Espaço exato para o ícone */
  margin: 1rem 0 0 0;   /* Remove margens laterais */
}

.info-card ul.lista-check li {
  padding-left: 0.5rem;
  margin-bottom: 0.8rem;
  list-style: none; /* Garante que não apareça a bolinha padrão */
}

.info-label {
  display: inline-block;
  background-color:var(--bg-light) ;
  border: 1px solid var(--border);
  color: var(--primary);
  padding: 0.5rem 4rem;
  border-radius: 6px;
  font-size: 0.875rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  letter-spacing: 0.5px;
}

.info-card h3 {
  margin-top: 0;
  font-size: 1.25rem;
  margin-bottom: 1.2rem;
}

.info-card ul {
  list-style: none;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 0px; 
}

.info-card ul li {
  padding: 0.225rem 0;
  font-size: 0.93rem;
  margin-bottom: 6px;
}

/* ============================================
   RESPONSIVE - TABLET (max-width: 992px)
   ============================================ */
@media (max-width: 992px) {
  .info-title{
    margin: 0;
  }
}


/* ============================================
   RESPONSIVE - MOBILE (max-width: 768px)
   ============================================ */
@media (max-width: 768px) {

  .info-grid
  {
    grid-template-columns: 1fr;
    max-width: 100%;
    margin-left: 10px;
    margin-right: 10px;
  }
}