@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
  background-color: #020617; /* Slate 950 fallback */
  color: #f8fafc;
}

html {
  scroll-behavior: smooth;
}